 
<style>
h1{background-color:green;}
h1{font-family:serif, fantasy, cursive;}

header {background color:gold;}

h1{color:darkred;}
h2{color:darkred;}
p{color:indianred}
li{color:rebeccapurple}
nav>ul{line-height:1.5em;
list_style_type:none;
padding-right:8px;}

h2 {background-color:yellow;
width: 70%;
font_size:1.3em;}

footer {background color:green;}
lastupdated 07/01/2022
</style>
